nav {
    background-color: teal;
    height: 100px;
    box-shadow: 0 0 10px #000;
    padding: 2rem;
}

nav > a {
    font: 900 1.7rem cursive;
    margin: 0 1rem;
    color: #ffffff;
    text-decoration: none;
}